<div class="display">{{runsQuery.timerValue$ | async | formatDuration}}</div>
<button type="button" mat-flat-button color="accent" [disabled]="disabled" (click)="toggle()">
  <ng-container *ngIf="running; else start">
    <mat-icon>pause</mat-icon>
    Stop
  </ng-container>
  <ng-template #start>
    <mat-icon>play_arrow</mat-icon>
    Start
  </ng-template>
</button>

<div class="spacer"></div>
<button type="button" mat-flat-button [disabled]="disabled" (click)="reset()">
  <mat-icon>clear</mat-icon>
  Clear
</button>
<button type="button" mat-flat-button color="primary" [disabled]="disabled" (click)="apply()">
  <mat-icon>done</mat-icon>
  Apply
</button>
