:host {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

.action {
  display: flex;
  justify-content: space-between;
}
