[Unit]
Description=running2
After=syslog.target
After=network.target

[Service]
Type=simple
User=<Insert User>
Group=<Insert User>
WorkingDirectory=<Change>
ExecStart=<Change>/server
Restart=always
RestartSec=60

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=10

[Install]
WantedBy=multi-user.target